<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget-Authenticate-Test-Feed-Org" value="https://pkgs.dev.azure.com/v-sanjayse/_packaging/Nuget-Authenticate-Test-Feed-Org/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Nuget-Authenticate-Test-Feed-Org">
      <package pattern="Newtonsoft.Json" />
      <package pattern="Microsoft.Extensions.Logging" />
    </packageSource>
  </packageSourceMapping>
</configuration>
